.name {
    font-size: 48px;
    text-align: center;
}
.container{
    text-align: center;
}

.ingredients,
.recipe {
    display: inline-block;
    text-align: left;
    background-color: rgb(219, 201, 178);
}
.center{
    text-align: center;
}
.pic{
    margin: auto;
    display: block;
    height: auto;
    width: 500px;
}